<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderDate()">Ordenar por fecha</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" (click)="orderPrice()">Ordenar por precio</a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="search" name="search" id="search" placeholder="Search" aria-label="Search">
  </form>
</nav>

<event-add (newEventAdd)="addEvent($event)"></event-add>

<div class="row">
  <!-- Si no hay eventos, aparece el h3 -->
  <h3 *ngIf="!events || events.length==0">No hay eventos disponibles</h3>
  <!-- Si hay eventos, bucleamos hasta mostrarlos todos -->
  <event-item (eventToDelete)="deleteEvent(event)" [event]="event" class="col-6 mt-4" *ngFor="let event of events | eventFilter:search"></event-item>
</div>